.meter {
  h1 {
    font-weight: 200;
    font-size: 2.5em;
  }

  text {
    font-size: .7em;
    font-weight: 200;
    transform: translateY(.3em);
  }

  circle {
    transition: stroke-dasharray .8s ease;
  }
}
